.venv
_pychache_
__pycache__/testing.cpython-311-pytest-8.3.5.pyc
__pycache__/schemas.cpython-311.pyc
__pycache__/models.cpython-311.pyc
__pycache__/fastapi_tes.cpython-311.pyc
__pycache__/fastapi.cpython-311.pyc
__pycache__/config.cpython-311.pyc
__pycache__/app.cpython-311.pyc
